# Node
node_modules/
npm-debug.log*

# Python
.venv/
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*
!.env.example

# Build
dist/
build/

# IDE
.vscode/

# ML
*.pkl
*.joblib

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Data
data/raw/*
data/processed/*